<div class="form_row">
   <label for="first_name">First name:</label>
   <%= form.text_field :first_name, :size => HTML_TEXT_FIELD_SIZE,
                                    :maxlength => DB_STRING_MAX_LENGTH %>
</div>
<div class="form_row">
   <label for="last_name">Last name:</label>
   <%= form.text_field :last_name, :size => HTML_TEXT_FIELD_SIZE,
                                   :maxlength => DB_STRING_MAX_LENGTH %>
</div>

